<div class="footer mt-5" style="background: #2D325A;">
    <div style="display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    color: #71748F;">
        <div><a class="navbar-brand" href="/"><img src="/assets/images/icons/logo.png"></a></div>
        <div class="d-flex">
            <div style="margin-right: 20px;">
                <div class="mb-2">
                    <a>Tournaments</a>
                </div>
                <div> 
                <a>Trending Players</a>
                </div>
            </div>
            <div style="margin-right: 20px;">
                <div class="mb-2">
                    <a> Master Classes</a>
                </div>
                <div>
                    <a>News</a>
                </div>
            </div>
            <div>Trending Teams</div>
        </div>
        <div>
            Follow us on
            <div class="d-flex mt-2">
                <div><img src="assets/images/icons/facebook.png" style="width: 30px;
                    background: rgba(113, 116, 143, 0.6);
                    padding: 7px;
                    border-radius: 15px;
                    margin-right: 8px"> </div>
                <div><img src="assets/images/icons/twitter.png" style="width: 30px;
                    background: rgba(113, 116, 143, 0.6);
                    padding: 7px;
                    border-radius: 15px;
                    margin-right: 8px"> </div>
                <div><img src="assets/images/icons/instagram.png" style="width: 30px;
                    background: rgba(113, 116, 143, 0.6);
                    padding: 7px;
                    border-radius: 15px"> </div>
            </div>
           
        </div>
    </div>
    </div>
    