<div class="main">
    <div class="slider">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/images/home/slider1.jpg" class="picsumImg" alt="Random first slide"
                        style="width: 100%;height: 88vh;">
                </div>
                <div class="carousel-caption">
                    <!-- <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/images/home/slider2.webp" class="picsumImg" alt="Random second slide"
                        style="width: 100%;height: 88vh;">
                </div>
                <div class="carousel-caption">
                    <!-- <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="assets/images/home/slider3.jpg" class="picsumImg" alt="Random third slide"
                        style="width: 100%;height: 88vh;">
                </div>
                <div class="carousel-caption">
                    <!-- <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="filter_player">
        <div class="radio_ul" *ngFor="let template of chartArr; let i = index">
            <div class="radio_li">
                <div class="">
                    <input type='radio' name='used_by_single_user' id='radio{{i}}' [value]="template"
                        [(ngModel)]="templateTypeSelected" (click)="getDataByTemplate(template)" />
                    <label for='radio{{i}}' class="back_shadow">
                        <div class="total_ref">
                            <div class="ref_img">
                                <img [src]="template.url">
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <section class="inner-wrap">
        <div class="upcmng_trmnts" hidden>
            <h2>Upcoming Tournaments</h2>


            <!-- <div > -->
            <div class="upcmng_trmnts_outer" *ngFor="let item of items; index as i;">
                <div class="upcmng_trmnts_banner_image">
                    <!-- <img src="/assets/images/home/upcomingTourament.png"> -->
                </div>
                <div class="upcmng_trmnts_dtls">
                    <div>PUBG Global Tounament</div>
                    <div class="upcmng_trmnts_dtls_inner_img"> <img src="/assets/images/icons/pubg.png"></div>
                </div>
                <div>
                    <img src="/assets/images/icons/calendar.png"> 20 August 2021
                </div>
                <div>
                    <img src="/assets/images/icons/clock.png"> Starts 2:00 PM IST
                </div>
            </div>
            <!-- </div> -->


        </div>
        <div class="trdng_plr">
            <div class="row trdn_vwall mb-5">
                <div class="float-left">
                    Trending Players
                </div>
                <div class="float-right">
                    <a [routerLink]="['/trendingPlayer']" class="pink_clr">
                        View All
                    </a>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="trendingPlayer_first" *ngFor="let data of trendingPlayer | slice:0:1; let i = index">
                        <div class="trendingPlayer_first_img">
                            <img src="assets/images/home/player1.png"
                                style="max-width: 354px;max-height: 350px;margin-left: -56px;">
                        </div>
                        <div class="mt-3 mb-3" style="font-size: 20px;">{{data.ign}}</div>
                        <div> <button class="btn" [ngClass]="getUpVoteClass('player',data.id)"  (click)="upVote('player',data.id)">
                                <img src="assets/images/icons/up_red.png"
                                    style="width: 15px; margin-right: 10px;margin-bottom: 3px;">
                                <span style="margin-right: 10px;" >Upvote</span>{{data.upvote_score}}
                            </button>
                            <button class="btn"  [ngClass]="getDownVoteClass('player',data.id)" (click)="downVote('player',data.id)" >
                                <img src="assets/images/icons/down_red.png" style="width: 15px; margin-right: 10px;">
                                <span style="margin-right: 10px;">Downvote</span>{{data.downvote_score}}
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="trdng_plr_lst">
                        <div class="trdng_plr_lst_iner" *ngFor="let data of trendingPlayer | slice:1:5; let i = index">
                            <div class="trdng_plr_lst_iner_img_bck">
                                <img [src]="getImageUrl(data?.profile_pic_without_bg)" style="max-height: 90px;
                                max-width: 90px;">
                            </div>
                            <div>
                                <div>#{{i + 2}}</div>
                                <div>{{data.ign}}</div>
                                <div>
                                    <button class="btn" [ngClass]="getUpVoteClass('player',data.id)" (click)="upVote('player',data.id)">
                                        <img src="assets/images/icons/up_red.png"
                                            style="width: 15px; margin-right: 10px;margin-bottom: 3px;">
                                        <span style="margin-right: 10px;">Upvote</span>{{data.upvote_score}}
                                    </button>
                                    <button class="btn" [ngClass]="getDownVoteClass('player',data.id)" (click)="downVote('player',data.id)">
                                        <img src="assets/images/icons/down_red.png"
                                            style="width: 15px; margin-right: 10px;">
                                        <span style="margin-right: 10px;">Downvote</span>{{data.downvote_score}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="trdng_tms mt-5">
            <div class="row trdn_vwall mb-5">
                <div class="float-left">
                    Trending Teams
                </div>
                <div class="float-right"> 
                    <a [routerLink]="['/trendingTeams']" class="pink_clr dc">
                        View All
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="trdng_tms_card_outer" *ngFor="let data of trendingTeam | slice:0:1; let i = index">
                        <div class="trdng_tms_card">
                            <img [src]="getImageUrl(data?.team_logo)" style="max-width: 110px;
                            max-height: 110px;
                            margin-top: 50px;">
                            <div>{{data?.name}}</div>
                        </div>

                        <div>
                            <button class="btn" [ngClass]="getUpVoteClass('team',data.id)" (click)="upVote('team',data.id)">
                                <img src="assets/images/icons/up_red.png"
                                    style="width: 15px; margin-right: 10px;margin-bottom: 3px;">
                                <span style="margin-right: 10px;">Upvote {{data.upvote_score}}</span>
                            </button>
                            <button class="btn" [ngClass]="getDownVoteClass('team',data.id)" (click)="downVote('team',data.id)">
                                <img src="assets/images/icons/down_red.png" style="width: 15px; margin-right: 10px;">
                                <span style="margin-right: 10px;">Downvote {{data.downvote_score}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="trdng_tms_lst" *ngFor="let data of trendingTeam | slice:1:5; let i = index">
                        <div style="display: flex;align-items: center;">
                            <div>
                                <img [src]="getImageUrl(data?.team_logo)" style="width: 80px;
                                height: 80px;
                                border-radius: 100%;">
                            </div>
                            <div style="margin-left: 15px;">{{data?.name}}</div>
                        </div>
                        <div>
                            <button class="btn" [ngClass]="getUpVoteClass('team',data.id)" (click)="upVote('team',data.id)">
                                <img src="assets/images/icons/up_red.png"
                                    style="width: 15px; margin-right: 10px;margin-bottom: 3px;">
                                <span style="margin-right: 10px;">Upvote</span>{{data.upvote_score}}
                            </button>
                            <button class="btn" [ngClass]="getDownVoteClass('team',data.id)" (click)="downVote('team',data.id)">
                                <img src="assets/images/icons/down_red.png" style="width: 15px; margin-right: 10px;">
                                <span style="margin-right: 10px;">Downvote</span>{{data.downvote_score}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5" style="    font-size: 20px;
        font-weight: 600;">News</div>
        <div class="row">
            <div>
                <div class="row justify-content-around mt-5">
                    <div class="col-md-3 news_card1">
                        <a href="" target="_blank">
                            <div class="news_card1-logo">
                                <img src="assets/images/home/news1.png" class="img-fluid">
                            </div>

                            <div style="padding: 15px;">
                                <p class="news_card1-date mt-3">
                                    Battlefield 2042 Discarded Map : the Latest Details Revealed
                                </p>
                                <h4 class="news_card1-title">
                                    Battlefield 2042 Discarded Map details are out now. Also, the game is all set to
                                    launch in October 2021. EA has revealed the gameplay trailer in July 2021. EA has
                                    unveiled some interesting new details about Battlefield 2042 Discarded map which is
                                    based on Alang, a town in Gujarat’s Bhavnagar district. While developer DICE has…
                                </h4>
                                <a href="" target="_blank" class="col-4 news_card1-link" style="padding: 0;">
                                    <span class="viewHover">Read more</span>
                                </a>
                            </div>
                        </a>


                    </div>
                    <div class="col-md-3 news_card1">
                        <a href="" target="_blank">
                            <div class="news_card1-logo">
                                <img src="assets/images/home/news2.png" class="img-fluid">
                            </div>

                            <div style="padding: 15px;">
                                <p class="news_card1-date mt-3">
                                    Galaxy Racer India Announced their BGMI Lineup
                                </p>
                                <h4 class="news_card1-title">
                                    Galaxy Racer India today announced their BGMI lineup. As we know, the BGIS –
                                    Battlegrounds Mobile India Series will begin very soon. With the top players, Galaxy
                                    Racer has a strong lineup now. About Galaxy Racer India: Galaxy Racer is an Esports
                                    team headquartered in the United Arab Emirates. In addition, professionals from 22
                                    nations…
                                </h4>
                                <a href="" target="_blank" class="col-4 news_card1-link" style="padding: 0;">
                                    <span class="viewHover">Read more</span>
                                </a>
                            </div>
                        </a>


                    </div>
                    <div class="col-md-3 news_card1">
                        <a href="https://authlink.com/news/how-improving-transparency-helps-meet-customer-demands-in-the-meat-industry/"
                            target="_blank">
                            <div class="news_card1-logo">
                                <img src="assets/images/home/news3.png" class="img-fluid">
                            </div>
                            <div style="padding: 15px;">
                                <p class="news_card1-date mt-3">
                                    Ankit Panth Joins M42 Esports
                                </p>
                                <h4 class="news_card1-title">
                                    Ankit Panth aka ‘V3nom’ is back into esports. He has joined the Valorant roster of
                                    M42 Esports. Moreover, he might participate in the Valorant Conquerors
                                    Championship(VCC). About Ankit Panth: V3nom is the famous and the most loved CS:GO
                                    esports player in India. He is the owner of the CS:GO team – ‘Team Brutality’.
                                    Moreover, these…
                                </h4>
                                <a href="https://authlink.com/news/how-improving-transparency-helps-meet-customer-demands-in-the-meat-industry/"
                                    target="_blank" class="col-4 news_card1-link" style="padding: 0;">
                                    <span class="viewHover">Read more</span>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-login-popup #loginPopup (loadDataEvent)="loadData()"></app-login-popup>