.prfl_det{
    color: white;
    text-align: center;
    background: #2D325A;
    padding: 0px 40px 40px 40px;
    margin: 90px;
}
.prfl_link_det{
    color: white;
    //text-align: center;
    background: #2D325A;
    padding: 40px;
    margin: 30px 90px;
}
.profile_pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.prfl_det_inner{
    position: relative;
    top: -44px;
}
.dlt_btn{
    background: rgba(74, 80, 125, 0.6);
    width: 130px;
}
.edt_btn{
    width: 20px;
    margin-left: 10px;
}
.trsh_btn_img{
    width: 20px;
    margin-right: 10px;
    margin-top: -2px;
}
.crt_lnk_pos{
    margin: 0px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal_close{
    position: absolute;
    top: 12px;
    right: 20px;
    width: 15px;
    z-index: 10;
    cursor: pointer;
}
.cust_modal{
    padding: 20px;
}
.prfl_det_pic{
    position: relative;
    top: -150px;
    left: 32px;
}
.edt_btn_white{
    background: #63667E;
    padding: 3px;
    width: 25px;
    border-radius: 10px;
    margin-left: 10px;
}